@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.col-sm-4 {
    background-color: #ffffff;
    min-height: 480px;
}

.col-sm-8,.profile-widget-header {
    text-align: center;
    padding: 10px;
}

.profile-widget-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.star {
    color: #efdc5f;
}

.btn-estilo {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #610C27;
    border-radius: 20px;
    cursor: pointer;
}

.btn-estilo:hover {
    transition: 0.3s;
    background-color: #610c27c9;
    color: #FFFFFF;
    text-decoration: none;
}

.disponibilidad {
    border-radius: 5px;
    border: 1px solid rgb(210, 210, 210);
    padding: 3px;
    margin-top: 30px;
}