.carousel-inner img {
    width: 100%;
    max-height: 540px;
}

.carousel-inner{
 height:fit-content;
}
.carousel-caption .btn{
    font-size: 20px;
    display: inline-block;
    padding: 10px 45px;
    background-color: #610C27;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #610C27;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.carousel-caption .btn:hover{
    background-color: transparent;
    color: #610C27;
}
.about_section{
   padding: 50px;
}
.about_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .about_section .img-box img {
    width: 100%;
  }
  
  .about_section .detail-box p {
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: justify;
  }
  
  .about_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #0e3746;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #0e3746;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .about_section .detail-box a:hover {
    background-color: transparent;
    color: #0e3746;
  }
  .services_section {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.service {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.service h2 {
    color: #610C27;
    font-size: 24px;
    margin-bottom: 20px;
}

.service p {
    color: #333333;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.service .service-image {
    margin-bottom: 20px;
}

.service .service-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.teacher_section{
    padding: 50px;
}
.teacher_section .box {
    background-color: #610C27;
    color: #ffffff;
    text-align: center;
    margin-top: 45px;
    border-radius: 10px;
}
  
.teacher_section .box .img-box img {
    width: 100%;
    border-radius: 10px;
}

.teacher_section .box .detail-box {
    padding: 10px 15px;
}

.teacher_section .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.teacher_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #0e3746;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #0e3746;
    transition: all .2s;
}

.teacher_section .btn-box a:hover {
    background-color: transparent;
    color: #0e3746;
}
