.navbar {
    height: 100px; 
}

.navbar-brand img {
    width: auto; 
    height: 110px;   
    margin-right: 10px;
    display: flex;
}
.nav a{
    text-decoration: none;
    color: #FFFFFF;
    
}
.nav a:hover{
    color: black;
    
}
.nav-link {
    color: #FFFFFF;
}

.nav-link:hover {
    color: #CBAD8D;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.offcanvas {
    background-color: #610C27;
    transition: max-width 0.3s ease-in-out;
}

.offcanvas.show {
    background-color: #610C27;
    max-width: 30%; 
}

.container a{
    text-decoration: none;
    color: white;
    font-size: medium;
}
.container a:hover{
    color: #cbb26b;
    font-weight: bold;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B3B3B3;
    padding: 20px;
}

.fin {
    display: inline;
    list-style-type: none;
}

.fin a{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 200;
    padding: 20px;
    justify-content: space-between;
    
}

.fin a:hover{
    text-decoration: underline;
}
