@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    height: 100px; 
}

.custom-toggler.navbar-toggler {
    border-color: #FFFFFF;
}
 
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.barra-lateral {
    background-color: #610C27;
    transition: 0.4s ease-in-out;
}

.barra-lateral.show {
    background-color: #610C27;
    max-width: 30%; 
}

.nav-linkl{
    text-decoration: none;
    color: white;
    font-size: medium;
    text-decoration: none;
    margin: 10px;
}
.nav-linkl:hover{
    color: #cbb26b;
    text-decoration: none;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B3B3B3;
    padding: 20px;
}

.fin {
    display: inline;
    list-style-type: none;
}

.fin a{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 200;
    padding: 20px;
    justify-content: space-between;
    
}

.fin a:hover{
    text-decoration: underline;
}

.log-sign {
    display: inline-block;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #cbb26b;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 3px;
}

.log-sign:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #cbb16be0;
    cursor: pointer;
}